---
title: "币圈交易所教程指南"
layout: default
category: 交易所教程
permalink: "/exchange.html"
---
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

        {% for category in site.categories %} 
        {% if page.category == category[0] %}
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
        {% endif %}
        {% endfor %}

        </div>
        <div class="mt-5">
            <!-- Pagination links -->
               {% if paginator.total_pages > 1 %}
               <ul class="pagination"> 
                 {% if paginator.previous_page %}
                   <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
                 {% else %}
                   <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
                 {% endif %}
   
                 {% for page in (1..paginator.total_pages) %}
                   {% if page == paginator.page %}
                   <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                   {% elsif page == 1 %}
                   <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                   {% else %}
                   <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                   {% endif %}
                 {% endfor %}
   
                 {% if paginator.next_page %}
                   <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a></li>
                 {% else %}
                   <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
                 {% endif %}
               </ul>
               {% endif %}      
           </div>
        
    </div>
</div>