<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#exchange">交易所教程</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#coins">币种介绍</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/categories.html#airdrop">最新空投</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/categories.html#wallet">钱包知识</a>
</li>
