<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/exchange.html">交易所教程</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/coins.html">币种介绍</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/airdrop.html">最新空投</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/wallet.html">钱包知识</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/welfare.html">币圈福利</a>
</li>